@model UserViewModel
@using TradeTwits.Models
@using GravatarHelper.Extensions

@section scripts{
    <script type="text/javascript">
        tradetwitsApp.factory('userDetailesData', function () {
            return {
                userName : @Html.Raw(Json.Encode(Model.UserName)),
                isFollowed: @Json.Encode(Model.IsFollowed),
                isBlocked: @Json.Encode(Model.IsBlocked),
                twitsCount: @Model.TwitsCount,
                followedUsersCount: @Model.FollowedUsers,
                followedStocksCount: @Model.FollowedStocks,
                followersCount: @Model.Followers};
        })
    </script>
}

<div ng-controller="UserController">
    <div class="userdetails-top">
        <div class="gravatar-container">
            @Html.Gravatar(Model.EmailAddress, 200, new { alt = "gravatar" })
        </div>
        <div class="userinfo-container">
            <h1>@Model.UserName</h1>
            <h4>@Model.EmailAddress</h4>
            <h4>Reputation: @Model.ReputationPoits</h4>
            @if (Model.UserName != User.Identity.Name)
            {
                <div class="follow-button">
                    <button type="button" ng-click="changeFollowed()" ng-show="isFollowed" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="follow-text">Following</span>
                    </button>
                    <button type="button" ng-click="changeFollowed()" ng-show="!isFollowed" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> <span class="follow-text">Follow</span>
                    </button>
                </div>
                <div class="block-button">
                    <button type="button" ng-click="changeBlocked()" ng-show="isBlocked" class="btn btn-default btn-lg blocked">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> <span class="block-text">Blocked</span>
                    </button>
                    <button type="button" ng-click="changeBlocked()" ng-show="!isBlocked" class="btn btn-default btn-lg unblocked">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> <span class="block-text">Block</span>
                    </button>
                </div>
            }
        </div>
    </div>



    <div class="btn-group btn-group-lg user-stats" data-toggle="buttons">
        <label class="btn btn-primary active" ng-click="selectTab(0)">
            <input type="radio" name="options"> Twits <span class="badge">{{twitsCount}}</span>
        </label>
        <label class="btn btn-primary" ng-click="selectTab(1)">
            <input type="radio" name="options"> Users <span class="badge">{{followedUsersCount}}</span>
        </label>
        <label class="btn btn-primary" ng-click="selectTab(2)">
            <input type="radio" name="options"> Stocks <span class="badge">{{followedStocksCount}}</span>
        </label>
        <label class="btn btn-primary" ng-click="selectTab(3)">
            <input type="radio" name="options"> Followers <span class="badge">{{followersCount}}</span>
        </label>
    </div>




    <div class="col-xs-12">
        <div id="twits" ng-show="selectedTab == 0" ng-controller="TwitController">
            <div ng-repeat="twit in twits">
                <div ng-include="'@Url.Content("~/Static/TwitTemplate.html")'"></div>
            </div>
        </div>
        <div id="followedUsers" ng-show="selectedTab == 1">
            <div ng-repeat="user in followedUsers">
                <hr />
                <div class="row">
                    <div class="col-sm-1 col-xs-2">
                        <img src="https://www.gravatar.com/avatar/{{user.GravatarHash}}?size=50" />
                    </div>
                    <div class="col-sm-11 col-xs-10">
                        <div class="row">
                            <div class="col-xs-4"><a href="/{{user.UserName}}">{{user.UserName}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="followedStocks" ng-show="selectedTab == 2">
            <div ng-repeat="stock in followedStocks">
                <hr />
                <div class="row">
                    <div class="col-sm-1 col-xs-2">
                        <img src="https://www.gravatar.com/avatar/{{stock.GravatarHash}}?size=50" />
                    </div>
                    <div class="col-sm-11 col-xs-10">
                        <div class="row">
                            <div class="col-xs-4"><a href="/{{stock.UserName}}">{{stock.UserName}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="followers" ng-show="selectedTab == 3">
            <div ng-repeat="user in followers">
                <hr />
                <div class="row">
                    <div class="col-sm-1 col-xs-2">
                        <img src="https://www.gravatar.com/avatar/{{user.GravatarHash}}?size=50" />
                    </div>
                    <div class="col-sm-11 col-xs-10">
                        <div class="row">
                            <div class="col-xs-4"><a href="/{{user.UserName}}">{{user.UserName}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" ng-show="!allLoaded" ng-click="loadNext()">
            <a href="">Load more</a>
        </div>
    </div>
</div>



